body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  
}

body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.map, #comparison-container {
  /* flex:auto; */
  /* flex-grow: 1; */
  height: 100%;
  width: 100%;
  position: absolute !important;
}
.container {
  height: 100%;
  width: 100%;
  position: absolute !important;
}

.maplibregl-popup-content {
  overflow-y: auto;
  overflow-x: hidden;
  
}
.map_popup {
  max-height: 47%;
  position: relative;
  overflow-x: hidden;
}
.maplibregl-ctrl-scale {
text-align: right;
}

#app-content {
  flex: auto;
  overflow: hidden;
}

#menu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  color: white;
  cursor: pointer;
}
#menu-container {
  position: absolute;
  display: none;
  top: 50px;
  right: 10px;
  max-height: 90%;
  z-index: 1;
  background-color: white;
  overflow: auto;
  padding: 20px;
}
.icon.big {
  line-height: 40px;
}
.icon:not(.big):before {
  margin-right: 5px;
}
.icon:empty:before {
  margin: 0;
}
.icon.menu:before {
  content: '\e964';
}

.drawer  {
  height:100%;
  padding: 15px;
  overflow-x:hidden;
  overflow-y: auto;
}
.drawer-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drawer-content {
  padding: 0px;
  overflow: hidden !important;
}
#container {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}

.mdc-switch__handle::after {
  background: green;
}

#no_mbtiles {
  width: 100%;
  font-size: 40px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 50%;
}

.bx--toggle__switch {
  margin-left: 4px;
  margin-bottom: 4px;

}
/* .bx--toggle-input:checked + .bx--toggle-input__label > .bx--toggle__switch::before { */
  /* background-color: var(--toggle-color) !important; */
/* } */
.bx--header-panel--expanded {
  background-color:#000000aa !important;
  /* width: 20rem !important; */
}
.bx--header {
  background-color:#000000aa !important;
}

.bx--content {
  background-color:transparent !important;
}

.bx--radio-button-group {
  flex-wrap: wrap;
}

.maplibregl-compare .compare-swiper-vertical {  
  background-color: transparent !important;
  background-image: none !important;
}
.light .maplibregl-compare .compare-swiper-vertical {
    box-shadow: inset 0 0 0 2px #393939 !important;
}
.dark .maplibregl-compare .compare-swiper-vertical {
    box-shadow: inset 0 0 0 2px white !important;
}
.light .maplibregl-compare {
  background-color:#393939 !important;
}
.dark .maplibregl-compare {
  background-color:white !important;
}

.light .mapboxgl-popup-content {
  background-color:white !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) !important;
}
.dark .mapboxgl-popup-content {
  background-color:#393939 !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.3) !important;
}

.light .mapboxgl-popup-tip {
  border-top-color:white !important;
}
.dark .mapboxgl-popup-tip {
  border-top-color:#393939 !important;
}
.dark .mbview_property {
  color:white !important;
}
.light .mbview_property {
  color:black !important;
}
/* table  {
  overflow-x: auto;
}
tbody {
  overflow-y: auto;
} */

th {
  position: sticky !important;
  z-index: 100 !important;
  top: 0 !important;
}

select {
  -webkit-appearance: none
}

.canSelectText * {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.mbview_popup *, .bx--tooltip * {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
